<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>

<div class="jumbotron text-center">
    <h1>Codecool Events</h1>
</div>

<div class="container">
    <a href="/events"><button class="pull-right">Go back!</button></a>

    <form method="post" class="form-horizontal">
        <p class="lead">Are you sure to delete?</p>
        <dl>
            <dt>Name</dt>
            <dd th:text="${event.getName()}"></dd>
        </dl>
        <dl>
            <dt>Description</dt>
            <dd th:text="${event.getDescription()}"></dd>
        </dl>
        <dl>
            <dt>Date</dt>
            <dd th:text="${event.getDateString()}"></dd>
        </dl>
        <dl>
            <dt>Category</dt>
            <dd th:text="${event.getCategory()}"></dd>
        </dl>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit">Delete event!</button>
        </div>
    </div>
    </form>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
