<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codecool events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="jumbotron text-center">
    <h1>Codecool Events</h1>
</div>

<div class="container">
    <form action="/index" method="post">
        <input type="text" placeholder="Name your event!" name="name">
        <input type="text" placeholder="Enter description optionally.." name="description">
        <input type="datetime-local" placeholder="When will it happen?" name="date">
        <input type="text" placeholder="Choose category:" name="category">
        <button>Add event!</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event,iterStat : ${eventContainer}">
            <td th:text="${event.name}">Event Name</td>
            <td th:text="${event.description}">Event Description</td>
            <td th:text="${event.date}">Event Date</td>
            <td th:text="${event.category}">Event Category</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
