<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>

<div class="jumbotron text-center">
    <h1>Codecool Events</h1>
</div>

<div class="container">
    <a href="/events/new"><button class="pull-right" type="submit">Add event!</button></a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event,iterStat : ${events}">
            <td><a th:text="${event.getName()}" th:href="@{|events/${event.getId()}/show|}">link</a></td>
            <td th:text="${event.getDateString()}">Event Date</td>
            <td th:text="${event.getCategory()}">Event Category</td>
            <td><a th:href="@{|events/${event.getId()}/edit|}">edit</a></td>
            <td><a th:href="@{|events/${event.getId()}/delete|}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
