<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>

<div class="jumbotron text-center">
    <h1><a href="/events">Codecool Events</a></h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            </form>
            <form action="" method="get">
                <div class="form-group">
                    <input type="text" id="search" name="eventName" placeholder="Search..">
                </div>
            </form>
        </div>
        <div class="col-lg-2">
            <form action="" method="get">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Category
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li th:each="cat,iterStat : ${categories}">
                            <button class="btn btn-default btn-md btn-block" th:text="${cat}" type="submit"
                                    name="category" th:value="${cat}">
                                category
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <a href="/events/new">
            <button class="btn btn-primary pull-right">Add event!</button>
        </a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event,iterStat : ${events}">
            <td><a th:text="${event.getName()}" th:href="@{|events/${event.getId()}/show|}">link</a></td>
            <td th:text="${event.getDateString()}">Event Date</td>
            <td th:text="${event.getCategory()}">Event Category</td>
            <td><a th:href="@{|events/${event.getId()}/edit|}">edit</a></td>
            <td><a th:href="@{|events/${event.getId()}/delete|}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
