<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header">
<body>

<div class="jumbotron text-center">
    <h1>Codecool Events</h1>
</div>

<div class="container">
    <a href="/events"><button class="btn btn-primary pull-right">Go back!</button></a>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Name</th>
            <td th:text="${event.getName()}">Event Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="${event.getDescription()}">Event Description</td>
        </tr>
        <tr>
            <th>Date</th>
            <td th:text="${event.getDateString()}">Event Date</td>
        </tr>
        <tr>
            <th>Category</th>
            <td th:text="${event.getCategory()}">Event Category</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
